/* AssigneeDashboard.module.css */

.container {
    background: linear-gradient(135deg,  #154038ed,#9ed6caed); /* Emerald green gradient */
    min-height: 100vh;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: rgb(0, 0, 0);
    font-size: large;
    
  }
  
  .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: hsl(163, 100%, 99%);
  }
  
  .alert {
    text-align: center;
    background-color: #ffdddd;
    color: #d8000c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .tableResponsive {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .table th, .table td {
    margin-top: 10px;
    padding: 15px;
    text-align: left;
    border: 1px solid #02011000;

  }
  
  .table th {
    background-color: #0752265a; /* Darker emerald green */
    color: #ffffff;
  }
  
  .table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .table tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .selectButton {
    background-color: #022e11; /* Emerald green */
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .selectButton:hover {
    background-color: #2e8b57; /* Darker emerald green */
  }
  
  .technicianSelection {
    margin-top: 30px;
    text-align: center;
    color: #ddd;
  }
  
  .select {
    color:rgba(245, 248, 247, 0.833);
    padding: 10px;
    background: linear-gradient(135deg, #157a64ed, #154038ed);
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid #ffffff;
    width: 200px;
  }
  
  .confirmButton {
    background-color: #022e11; /* Emerald green */
    color: #ddd;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  .confirmButton:hover {
    background-color: #2e8b57; /* Darker emerald green */
  }
  
  /* Add Navbar margin */
  .navbar {
    margin-bottom: 20px;
  }
  